*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(10, 10, 8);
  }
  body{
    
    background-color: orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;    
  }
  .top__containt{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  h1{
    margin: 40px;
  }
  hr{
    width: 60vw;
  }
  .dept{
    margin-left: -72px;
  }
  .all__inputs{
    margin-top: 75px;
    font-size: 30px;
    text-align: center;
  }
  input[type='submit']{
    color:red;
    padding: 7px 40px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid violet;
    background-color: transparent;
    cursor: pointer;
    margin-top: 40px;
  }
  input[type='submit']:active{
    background-color:blue;
    color: pink;
    text-align: center;
  }
  .button{
    display: flex;
    justify-content: center;
  }
  input[type='text'], input[type='number']{
    padding: 3px;
    width: 300px;
    font-size: 30px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid red;
  }
  .result{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 50px;
    border: 2px solid lightcoral;
    width: 85vw;
  }
  
  .section{
    margin: 25px;
    background-color: transparent;
    padding: 12px;
    font-size: 22px;
    width: 250px;
    border: 2px solid red;
    border-radius: 10px;
  }
  .back__button{
    color:red;
    padding: 7px 40px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid violet;
    background-color: transparent;
    cursor: pointer;
    margin-top: 3rem;
  }
  .back__button:active{
    background-color:blue;
    color: pink;
    text-align: center;
  }
  span{
    display: flex;
    justify-content: center;
  }